*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

.flex-cont{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-linguica{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}

.border-top{
    position: fixed;
    top: 0;
    width: 100%;
    height: 4%;
    background-color: #fff;
}

.border-bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4%;
    background-color: #fff;
}

.border-left{
    position: fixed;
    left: 0;
    top: 0;
    width: 4%;
    height: 100%;
    background-color: #fff;
}

.border-right{
    position: fixed;
    right: 0;
    top: 0;
    width: 4%;
    height: 100%;
    background-color: #fff;
}

.first-step{
    min-height: 100%;
    width: 100%;
}

.first-home-container{
    background-color: #FF334F;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 100%;
}

.second-step{
    min-height: 100%;
    width: 100%;
}

.second-container{
    background-color: greenyellow;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 100%;
}

.third-step{
    min-height: 100%;
    width: 100%;
}

.third-container{
    background-color: violet;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 100%;
}

.fourth-step{
    min-height: 100%;
    width: 100%;
}

.fourth-container{
    background-color: lightpink;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 100%;
}